.navbar-outer-container {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: #2d3ba3;
  position: fixed;
  z-index: 999999;
}

.navbar-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  width: 120px;
  color: white;
  font-weight: 800;
}

.bar-icon-container {
  display: none;
}

.bar-icon-container:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  color: white;
  gap: 40px;
}

.nav-links-inner-container {
  display: flex;
  color: white;
  gap: 40px;
}

.remove-icn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo-container {
    justify-content: space-between;
    gap: 30px;
  }

  .bar-icon-container {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 25px;
    /* content: "\e8bc"; */
    color: aqua;
  }
  .nav-column-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(54, 88, 136, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    color: white;
  }

  .nav-links-inner-container {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 600;
    z-index: 99999999;
    color: black;
    /* background-color: rgba(54, 88, 136, 0.8); */
    gap: 40px;
  }

  .nav-links-inner-container div {
    align-self: center;
    background-color: aliceblue;
    background: linear-gradient(white, skyblue);
    width: 150px;

    padding: 8% 10%;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 1px rgba(1, 1, 0, 0.6);
  }

  .nav-links-inner-container div:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient(skyblue, white);
  }

  .remove-icn {
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    font-weight: 600;
    color: #45ecfff9;
  }
  .remove-icn:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  .nav-links-container {
    display: none;
  }
}
